.wrapper
  %header
    %p.notice= notice
    %p.alert= alert
  .container-fluid
    .title
      %h1 Compall
  .container-fluid.mt-1
    .picture_box.container
      = image_tag "mypage_picture.png", class:"mypage_image"
    .menu
      .title_box
        %h2.text-center ー menu ー
        %ul.menu_choice.content_box
          %li.button.how_to_use
            = link_to 'ご利用方法', page_path('how_to_use'), class:"btn btn-danger btn-lg border"
          %li.button.price
            = link_to 'ご利用料金', page_path('price'), class:"btn btn-danger btn-lg border"
          %li.button.question
            = link_to 'よくある質問', page_path('question'), class:"btn btn-danger btn-lg border"
          %li.button.profile
            = link_to '登録情報', user_path, class:"btn btn-danger btn-lg border"

    .link
      %ul.content_box
        %li
          = link_to '運営会社', page_path('about')
        %li
          = link_to '利用規約', page_path('service_use')
        %li
          = link_to 'プライバシーポリシー', page_path('privacy')
        %li
          = link_to 'お問い合わせ', page_path('help')